{% load static %}
{% load git_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NicolAI  {% if user.is_authenticated %} Authenticted {% else %} ! {% endif %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <!--    <link-->
    <!--      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"-->
    <!--      rel="stylesheet"-->
    <!--      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"-->
    <!--      crossorigin="anonymous"-->
    <!--    />-->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}"/>
    <!--       <link href="./static/css/bootstrap.min.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="{% static '/css/paper-kit.css' %}"/>
    <!--      <link href="./static/" rel="stylesheet" />-->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="{% static '/demo/demo.css' %}"/>
    <!--  <link href="./static/demo/demo.css" rel="stylesheet" />-->
</head>

<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/" rel="tooltip" title="Home of Nico AI" data-placement="bottom" >
          Nico AI
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      {% include 'nav.html' %}
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="page-header " style="background-image: url('{% static '/img/page-header-bg.jpg' %}')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">Nico AI</h1>
<!--          <div class="fog-low">-->
<!--            <img src="{% static '/img/fog-low.png' %}" alt="">-->
<!--          </div>-->
<!--          <div class="fog-low right">-->
<!--            <img src="{% static '/img/fog-low.png' %}" alt="">-->
<!--          </div>-->
        </div>
        <h2 class="presentation-subtitle text-center">Make your mark with a Free Bootstrap 4 UI Kit! </h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('{% static '/img/clouds.png' %}'); "></div>
    <h6 class="category category-absolute">Designed and coded by
      <a href="https://www.creative-tim.com" target="_blank">
        <img src="{% static '/img/creative-tim-white-slim2.png' %}" class="creative-tim-logo">
      </a>
    </h6>
  </div>
  <div class="main">
    {% block content %}
    {% endblock %}
    <footer class="footer footer-black  footer-white ">
      <div class="container">
        <div class="row">
          <nav class="footer-nav">
            <ul>
              <li>
                <a href="#" >Ver: {% current_commit_short '.' %}</a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
              </li>
            </ul>
          </nav>
          <div class="credits ml-auto">
            <span class="copyright">
              ©
              <script>
                document.write(new Date().getFullYear())
              </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
            </span>
          </div>
        </div>
      </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="{% static '/js/core/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/core/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="{% static '/js/plugins/bootstrap-switch.js' %}"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="{% static '/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="{% static '/js/plugins/moment.min.js' %}"></script>
    <script src="{% static '/js/plugins/bootstrap-datepicker.js' %}" type="text/javascript"></script>
    <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
    <script src="{% static '/js/paper-kit.js' %}" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
<!--    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
    <script>
      $(document).ready(function() {

        if ($("#datetimepicker").length != 0) {
          $('#datetimepicker').datetimepicker({
            icons: {
              time: "fa fa-clock-o",
              date: "fa fa-calendar",
              up: "fa fa-chevron-up",
              down: "fa fa-chevron-down",
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-screenshot',
              clear: 'fa fa-trash',
              close: 'fa fa-remove'
            }
          });
        }

        function scrollToDownload() {

          if ($('.section-download').length != 0) {
            $("html, body").animate({
              scrollTop: $('.section-download').offset().top
            }, 1000);
          }
        }
      });
    </script>
  </div>
</body>

</html>
