 <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
            {% if user_info != 'None' %}
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Usuario" data-placement="bottom" href="/">
                      <i class="fa fa-user"></i>
                      <p class="d-lg-none"> {{user_info}} </p>
                  </a>
                 </li>
            {% endif %}
          <div class="hr"></div>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Inicio" data-placement="bottom" href="/">
              <i class="fa fa-home"></i>
              <p class="d-lg-none">Inicio</p>
            </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Tareas" data-placement="bottom" href="/tasks">
              <i class="fa fa-tasks"></i>
              <p class="d-lg-none">Tareas</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Tareas" data-placement="bottom" href="/tasks/all">
              <i class="fa fa-tasks"></i>
              <p class="d-lg-none">Mis Tareas</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Personas" data-placement="bottom" href="/personas">
              <i class="fa fa-users"></i>
              <p class="d-lg-none">Personas</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Salir" data-placement="bottom" href="/signout">
              <i class="fa fa-sign-out"></i>
              <p class="d-lg-none">Salir</p>
            </a>
          </li>
          {% endif %}

          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Registrarse" data-placement="bottom" href="/signup">
              <i class="fa fa-user-plus"></i>
              <p class="d-lg-none">Registarse</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Ingresar" data-placement="bottom" href="/signin">
              <i class="fa fa-sign-in"></i>
              <p class="d-lg-none">Ingreso</p>
            </a>
          </li>
          {% endif %}


          <li class="nav-item">
            <a href="https://demos.creative-tim.com/paper-kit-2/docs/1.0/getting-started/introduction.html" target="_blank" class="nav-link"><i class="nc-icon nc-book-bookmark"></i> Documentation</a>
          </li>
          <li class="nav-item">
            <a href="https://www.creative-tim.com/product/paper-kit-2-pro?ref=pk2-free-local" target="_blank" class="btn btn-danger btn-round">Upgrade to Pro</a>
          </li>
        </ul>
      </div>